<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>实验数据</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesom字体 -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<body>
<div class="jumbotron jumbotron-fluid bg-primary" data-th-fragment="head">
    <div class="container">
        <h1 class="display-4 text-center text-white">实验数据管理</h1>
        <p class="lead text-center text-muted">对实验数据进行滤波</p>
    </div>
</div>


</body>
</html>