<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>试验数据滤波</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--<h1>实验数据</h1>-->


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>


<form  method="POST" >
    <!--    <form  method="POST" enctype="multipart/form-data" >-->
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            试验数据滤波
        </div>
        <div class="card-body">
            <table  border="0" cellspacing="0" align="left">

                <tr>
                    <td >
                        <div class="form-group">
                            <label for="pkId">试验数据ID</label>
                            <input type="text" name = "pkId" id="pkId" class="form-control"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >
                        <div class="form-group">
                            <input type="button" id="submitData" class="btn btn-primary btn-large" value = "开始滤波"/>
                        </div>
                        <div class="form-group">
                            <input type="button" id="saveData" class="btn btn-primary btn-large" value = "保存滤波数据"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >
                        <div class="form-group">
                            <input type="button" id="pChart" class="btn btn-outline-success btn-sm" value = "查看P-t曲线"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >
                        <div class="form-group">
                            <input type="button" id="fChart" class="btn btn-outline-success btn-sm" value = "查看F-t曲线"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- 曲线图-->
                <div id="container" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <!--                    <button type="button" class="btn btn-primary" id="saveSmoothData">保存到文件</button>-->
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/highcharts/exporting.js"></script>
<script src="/js/highcharts/series-label.js"></script>
<script src="/js/highcharts/oldie.js"></script>
<script src="/js/highcharts/boost.js"></script>
<script src="/js/dataTransfer.js"></script>
</html>