<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>试验数据滤波</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--<h1>实验数据</h1>-->


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<h4 align="center">试验数据滤波</h4>
<hr>
<a href="/listAll"><input type="button" class="btn btn-secondary btn-lg btn-block"  value="开始试验数据处理"/></a>
<!--<table width="500" align="center">-->
<!--    <tr height="100">-->
<!--        <td >-->
<!--            <a href="/findData" target="right"><input type="button" class="btn btn-secondary btn-lg btn-block"  value="查询已有数据"/></a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr height="100">-->
<!--        <td >-->
<!--            <a href="/addData" target="right"> <input type="button" class="btn btn-secondary btn-lg btn-block" value="添加试验数据"/></a>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

</body>
</html>