<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>已有数据</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<div >
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            已有试验数据
        </div>
        <div class="card-body">
            <table class="table table-bordered" align="center">
                <thead class="thead-dark">
                    <tr align="center">
                        <th scope="col" >id</th>
                        <th scope="col">试验名称/编号</th>
                        <th>试验数据</th>
                    </tr>
                </thead>
                <tbody align="center">
<!--                    <tr>-->
<!--                        <td colspan="3" align="right">-->
<!--                            <a href ="/chart">-->
<!--                                <input  type="button" class="btn btn-primary btn-sm " align="center" value = "试验曲线"/>-->
<!--                            </a>-->
<!--                        </td>-->
<!--                    </tr>-->
                    <tr th:each= "srmExperiment:${srmModel.srmExperimentList}">
                        <td scope="row" th:text="${srmExperiment.pkId}"></td>
                        <td th:text="${srmExperiment.srmName}"></td>
                        <td width="800">
                            <a th:href="@{${srmExperiment.pkId}}"  ><!--如何传到controller的形参中？-->
                                <input  type="button" class="btn btn-primary btn-sm " align="center" value = "查看数据"/>
                            </a>
    <!--                        <a th:href="@{'/chart'+${srmExperiment.pkId}}">-->
    <!--                            &lt;!&ndash;                    <input  type="hidden" id="pkId"  th:value="${srmExperiment.pkId}">&ndash;&gt;-->
    <!--                            <input   type="button" class="btn btn-primary btn-sm " align="center" value = "试验曲线"/>-->
    <!--                        </a>-->
<!--                            <a th:href ="@{'/delete'+${srmExperiment.pkId}}">-->
<!--                                <input  type="button" class="btn btn-primary btn-sm " value = "删除"/>-->
<!--                            </a>-->
<!--                            <a th:href ="@{'/modify'+${srmExperiment.pkId}}">-->
<!--                                <input  type="button" class="btn btn-primary btn-sm " value = "修改"/>-->
<!--                            </a>-->
                            <a th:href ="@{'/dataProcess'+${srmExperiment.pkId}}">
                                <input  type="button" class="btn btn-primary btn-sm " value = "数据处理"/>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 曲线图-->
                    <div id="container" style="height: 400px; max-width: 800px; margin: 0 auto"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    // $(#'draw').click(function f() {
    //     alert(a);
    // });
    function del(id) {
        alert("方法执行了");
        var pkId=id;
        $.ajax({
            url:"/deleteById",
            type:"post",
            dataType:"json",
            data:"pkId="+pkId,//传到后端
            async:false,

            success:function(data){
                alert("drawChart执行");
                $('#exampleModal').modal('toggle');
                drawChart(data.t, data.p, "p");
                document.write(data.t);
            },
            error:function () {
                alert("获取数据失败");
            }

        });

    }

    function save(filePath) {
        alert("方法执行了");
        var filePath=filePath;
        $.ajax({
            url:"/saveFile",
            type:"post",
            dataType:"json",
            data:"path="+filePath,//传到后端
            async:false,

            success:function(data){

            },
            error:function () {
                alert("获取数据失败");
            }

        });

    }


    $('#draw').click(function(){
        $('#exampleModal').modal('toggle');
        drawChart();
    });

    $('#drawChart').click(function(){
        // alert("drawChart按钮按下");
        // $('#exampleModal').modal('toggle');
        var pkId=${srmModel.pkId};
        $.ajax({
            url:"/getChartData",
            type:"post",
            dataType:"json",
            data:"pkId="+pkId,//传到后端
            async:false,

            success:function(data){
                alert("drawChart执行");
                $('#exampleModal').modal('toggle');
                drawChart(data.t, data.p, "p");
                document.write(data.t);
            },
            error:function () {
                alert("获取数据失败");
            }

        });
    })

</script>
<!--<script src="/js/drawChart.js"></script>-->
</html>