<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>保存到文件</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--<h1>实验数据</h1>-->

<form action="/saveAsFile" method="POST" id="f">
    <!--    <form  method="POST" enctype="multipart/form-data" >-->
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            保存数据到文件
        </div>
        <div class="card-body">
            <table  border="0" cellspacing="0" align="left">
                <tr width="200">
                    <td >
                        <div class="form-group">
                            <label for="path">输入要保存的文件路径</label>
                            <input type="text" size="40" name="path" id="path" class="form-control" placeholder="如：D:\\abc\\dd.csv"/>
                            <input  type="hidden" id="pkId" name="pkId" th:value="${srmModel.pkId}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >
                        <input type="submit" id="submitName" class="btn btn-primary btn-large" value = "保存数据"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--    <div >-->
    <!--        <h3 align="center">保存数据到文件</h3>-->

    <!--        <table  border="0" cellspacing="0" align="center" height="50">-->

    <!--            <tr>-->
    <!--                <td >输入要保存的文件路径，如(D:\\abc\\dd.csv)：</td>-->

    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td><input type="text" name="path" id="path" /></td>-->
    <!--                <input  type="hidden" id="pkId" name="pkId" th:value="${srmModel.pkId}">-->
    <!--            </tr>-->
    <!--            <tr>-->
    <!--                <td>-->
    <!--                    <input type="submit" id="submitName" class="btn btn-primary btn-lg" value = "保存数据"/>-->
    <!--                </td>-->
    <!--            </tr>-->
    <!--        </table>-->
    <!--    </div>-->



</form>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/saveToFile.js"></script>
</body>


</html>